/* Definition der Variablen */
:root {
  --grund-font: Arial, serif;
  --ueberschrift-farbe: #4a86e8;
  --hintergrundfarbe: #333;
  --link-hover-farbe: #111;
  --weiss: #fff;
  --schwarz: #000;
  --grau: #ccc;
  --dunkelgrau: #555;
  --leichtgrau: #f2f2f2;
  --rot: red;
  --violet: violet;
  --gruen: #45a049;
}

/* Grundlegende Stile */
body {
  font-family: var(--grund-font);
  font-size: 14pt;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 10px;
  padding: 10px;
}

/* Stile für Überschriften und Texte */
h1 {
  font-size: 30pt;
  color: var(--ueberschrift-farbe);
}

p {
  line-height: 1.6;
  margin: 10px;
  padding: 10px;
}

span {
  font-style: italic;
}

blockquote {
  font-weight: bold;
}

/* Stil für die Navigationsleiste */
.navbar {
  background-color: var(--hintergrundfarbe);
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: var(--weiss);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: var(--link-hover-farbe);
}

/* Stile für den Hauptinhalt */
.content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Stile für Listen */
.custom-list {
  font-size: 16pt;
  font-family: 'Courier New', Courier, monospace;
  list-style-type: circle;
  border: 1px solid var(--schwarz);
  background-color: var(--leichtgrau);
  padding: 10px;
}

/* Stile für Tabellen */
.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th, .custom-table td {
  border: 1px solid var(--grau);
  padding: 8px;
}

.custom-table tr:nth-child(even) {
  background-color: var(--leichtgrau);
}

.custom-table tr:hover {
  background-color: var(--grau);
}

/* Stile für Links */
a:visited {
  color: var(--violet);
  text-decoration: underline;
}

a:hover {
  color: var(--grau);
  text-decoration: underline;
}

/* Stile für Bilder und Videos */
img, video {
  border: 1px solid var(--schwarz);
  max-width: 100%;
  border-radius: 4px;
}

/* Stile für spezielle Div-Elemente */
div.important {
  color: var(--rot);
  border: 2px solid var(--schwarz);
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
}

/* Stile für das Kontaktformular */
.contact-form {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid var(--schwarz);
  border-radius: 4px;
  margin: 10px;
  padding: 20px;
}

.contact-form .form-element {
  margin-bottom: 20px;
}

.contact-form .form-element label {
  font-weight: bold;
  display: block;
}

.contact-form .form-element input[type=text],
.contact-form .form-element input[type=email],
.contact-form .form-element textarea,
.contact-form .form-element select {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid var(--grau);
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-form .form-element input[type=submit],
.contact-form .form-element input[type=reset] {
  width: 49.75%;
  background-color: var(--ueberschrift-farbe);
  color: var(--weiss);
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14pt;
}

.contact-form .form-element input[type=submit]:hover,
.contact-form .form-element input[type=reset]:hover {
  background-color: var(--gruen);
}

.contact-form .form-element input[type=checkbox],
.contact-form .form-element input[type=radio] {
  cursor: pointer;
}

/* Flexbox-Styling */
.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flex > div {
  padding-left: 10px;
}

/* Tooltip Stil */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--dunkelgrau);
  color: var(--weiss);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--dunkelgrau) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Stile für das Hamburger-Menü und die Navigationsleiste */

/* Stil für das Hamburger-Menü-Icon */
.hamburger-menu {
  background: none;
  border: none;
  font-size: 38px;
  cursor: pointer;
  display: none;
  align-items: center;
  z-index: 2;
}

/* Grundstil für die Navigationsleiste */
.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 2;
}

/* Stil für die Listenelemente in der Navigationsleiste */
.navbar-nav li {
  float: left;
}

/* Stil für die Links in der Navigationsleiste */
.navbar-nav li a {
  display: block;
  color: var(--weiss);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Stil für die Links beim Überfahren in der Navigationsleiste */
.navbar-nav li a:hover {
  background-color: var(--link-hover-farbe);
}

/* Media Query für die responsive Gestaltung der Navigationsleiste und des Hamburger-Menüs */
@media (max-width: 1080px) {
  .hamburger-menu {
    display: flex;
  }

  .navbar-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-color: var(--hintergrundfarbe);
    width: 100%;
  }

  .navbar-nav li a {
    padding: 10px;
  }
}

/* Stil für die Anzeige der Navigationsleiste, wenn das Hamburger-Menü geklickt wird */
.show-nav {
  display: flex;
}
